API_BASE_URL = https:/$()/oddlyuseful.studio
APP_ENVIRONMENT = staging
APP_URL_SCHEME = cipherparty-staging
KEYCHAIN_SERVICE_NAME = studio.oddlyuseful.cipherparty.staging.credentials
FEATURE_CONNECTION_DIAGNOSTICS = NO

PRODUCT_BUNDLE_IDENTIFIER = studio.oddlyuseful.cipherparty.staging
DEVELOPMENT_TEAM = $(CIPHER_PARTY_APPLE_TEAM_ID)
